.App {
  text-align: center;
}

.filters button.active {
  font-weight: 700;
  background-color: aquamarine;
}

.clearAll {
  border-color: #f44336;
  color: black;
}
.clearAll:hover {
  background-color: #f44336;
  color: white;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}
