.App {
  text-align: center;
}

.filters button.active {
  font-weight: 700;
  background-color: aquamarine;
}

.clearAll {
  border-color: #b63e35;
  color: black;
}
.clearAll:hover {
  background-color: #b63e35;
  color: white;
}
.clearCompleted {
  border-color: rgb(192, 164, 130);
}
.clearCompleted:hover {
  background-color: rgb(192, 164, 130);
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}

button {
  margin-left: 6px;
}
.filters {
  margin-top: 10px;
}
